@model IEnumerable<WebBanHang.Models.Product>


@{
    ViewData["Title"] = "Index";
}

<h1 style="text-align: center">Products</h1>
<div style="background: #888888">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImageUrl)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @{
                int index = 1;
            }
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @index
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <img src="@Html.DisplayFor(modelItem => item.ImageUrl)" width="110px" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Name)
                    </td>
                    <td>
                        <a asp-action="Update" asp-route-id="@item.Id" style="background: #FFFF33; text-decoration: none; color: #000; border-radius: 5px; border: 2px solid #000; padding: 5px 20px;">Edit</a> |
                        <a asp-action="Display" asp-route-id="@item.Id" style="background: #00FF66; text-decoration: none; color: #000; border-radius: 5px; border: 2px solid #000; padding: 5px 20px;">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" style="background: #FF0000; text-decoration: none; color: #000; border-radius: 5px; border: 2px solid #000; padding: 5px 20px;">Delete</a>
                    </td>
                </tr>
                index++; // Tăng giá trị của biến index sau mỗi lần lặp
            }
        </tbody>
    </table>
</div>
<a asp-action="Add" enctype="multipart/form-data" style="background: #00FF66; text-decoration: none; color: #000; border-radius: 5px; border: 2px solid #000; padding: 5px 20px;">Create New</a>
